extends layout

block content
  include header
  h1= title
  p Welcome to #{title}
  a(href="/plus")
    span Plus
  br
  br
  a(href="/minus")
    span Minus
  br
  br
  a(href="/users/json")
    span Send and receive JSON
  br
  br
  a(href="/async")
    span Asynchronous Call
  br
  br
  a(href="/cookies")
    span Cookies
  include footer
